<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Transbank.Webpay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Transbank.Webpay.Properties.Settings>
            <setting name="Webpay_Transbank_Library_Wsdl_Capture_WSCommerceIntegrationServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSCommerceIntegrationService</value>
            </setting>
            <setting name="Webpay_Transbank_Library_Wsdl_Normal_WSWebpayServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSWebpayService</value>
            </setting>
            <setting name="Webpay_Transbank_Library_Wsdl_Nullify_WSCommerceIntegrationServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSCommerceIntegrationService</value>
            </setting>
            <setting name="Webpay_Transbank_Library_Wsdl_OneClick_OneClickPaymentServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/webpayserver/wswebpay/OneClickPaymentService</value>
            </setting>
            <setting name="Webpay_Transbank_Library_Wsdl_Complete_WSCompleteWebpayServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSCompleteWebpayService</value>
            </setting>
            <setting name="Webpay_Transbank_Library_Wsdl_Mall_Normal_WSWebpayServiceImplService"
                serializeAs="String">
                <value>https://webpay3gint.transbank.cl:443/WSWebpayTransaction/cxf/WSWebpayService</value>
            </setting>
        </Transbank.Webpay.Properties.Settings>
    </applicationSettings>
</configuration>